<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_URL" value="https://passshare.test"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="REVERB_APP_ID" value="test-app-id"/>
        <env name="REVERB_APP_KEY" value="test-key"/>
        <env name="REVERB_APP_SECRET" value="test-secret"/>
        <env name="REVERB_HOST" value="localhost"/>
        <env name="REVERB_PORT" value="8080"/>
        <env name="REVERB_SCHEME" value="http"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="CSP_ENABLED_WHILE_HOT_RELOADING" value="true"/>

        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_PORT" value="3306"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="DB_USERNAME" value="levon"/>
        <env name="DB_PASSWORD" value=""/>
        <env name="DB_URL" value=""/>

        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
        <env name="VAPID_SUBJECT" value="https://passshare.test"/>
        <env name="VAPID_PUBLIC_KEY" value="BFP-4F2KMLYsNbjbB2XCY7GlFH1sshtUh43rlMn2VZU3FGkc-aZhatU__sOQQVKFpSRIRoCEtFCE5Wsti2u8mck"/>
        <env name="VAPID_PRIVATE_KEY" value="rwrdCgUSHzcdePu27lNNg_mtGvH7l_efVVKHw7mPYBI"/>
    </php>
</phpunit>
